* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
--bold--: 'Gilroy-Bold', sans-serif;
--heavy--: 'Gilroy-Heavy', sans-serif;
--light--: 'Gilroy-Light', sans-serif;
--medium--: 'Gilroy-Medium', sans-serif;
--regular--: 'Gilroy-Regular', sans-serif;

}


/* hero-section */

.hero-section{
  background-color:#D60505;
background: linear-gradient(180deg, rgba(227, 225, 225, 0.7) 10.68%, rgba(235, 220, 222, 0.7) 44.01%, rgba(240, 226, 226, 0) 100%);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 12px 144px 106px;
  position: relative;
}

.header ul li {
  list-style: none;
  display: inline-block;
  gap: 144px;
}

.logo {
  align-items: flex-start;
  color: #0065FE;
  font-family: var(--bold--);
  font-size: 2rem;
  line-height: 36px;
  margin-left: -32px;
  padding: 6px;
}

.urls {
  margin-inline-start: 144px;
  margin-inline-end: 36px;
  color: #0065FE;
  font-family:var(--medium--);
  font-size: 1.25rem;

}

.features img {
  padding-top: 60px;
  position: absolute;
  top: -38px;
}

.header-intro {
  margin-inline-start: 36px;
}

.header ul li a {
  margin-left: 144px;
  text-decoration: none;
}

.header-button {
  width: 100px;
  margin-top: 20px;
  margin-left: 120px;
  border-radius: 12px;
  background-color: #0065FE;
  font-size: 1rem;
  color: #FFF;
  /* padding: 12px 24px; */
  position: absolute;
  line-height: 24px;
  text-align: center;
  
}

h2 {
  width: 948px;
  height: 176px;
  position: relative;
  color: #141414;
  text-align: center;
  font-size: 48px;
  font-family: var(--bold--);
  line-height: 96px;
  margin: 0 auto;
  margin-left: 246px;
  padding-bottom: 32px;

}

h2 img[src="./assets/Vector 3.svg"] {
  position: absolute;
  right: 400px;
  bottom: -24px;
  /* bottom:12px; */


}

h2 strong {
  color: #005AE2;
  font-size: 48px;
  font-family:var(--bold--);
}

.header-para p {
  width: 732px;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
  color: #141414;
  line-height: 1.5;
  margin: 0 auto;
  padding-block-start: 32px;
}

p.btn {
  width: 142px;
  padding: 12px 24px;
  margin-top: 32px;
  border-radius: 24px;
  background-color: #0065FE;
  color: #FFF;
  font: 600;
  line-height: 1.5;
  text-align: center;
  position: relative;

}

.btn-txt {
  position: absolute;
  margin-top: 84px;
  top: 480px;
  left: 468px;
  font-weight: 700;
}

.hero-frame {
  width: 768px;
  border: 0.5px solid #005AE2;
  background-color: rgba(254, 254, 254, 0.102);
  backdrop-filter: blur(106px);
  margin: 0 auto;
  border-radius: 12px;
  padding: 12px 24px;
  position: relative;
  padding: 36px 60px;
  margin-top: 48px;
}

.hero-frame img {
  margin-left: -12px;
  padding-top: 12px;
}

img.last-link {
  margin-left: 72px;
  margin-right: -72px;
}

.hero-frame img[ src="./assets/Line 7.svg"] {
  width: 36px;
  position: absolute;
  padding-top: 24px;
  margin: 24px;

}

.hero-frame p {
  width: 648px;
  margin: 0 auto;
  text-align: center;
  padding: 12px;
  color: #141414;
  line-height: 24px;
  font-weight: 500;
  font-size: 1rem;
}

p img[src="./assets/Vector 5.svg"] {
  width: 240px;
  height: 260px;
  transform: rotate(-30deg);
  position: absolute;
  left: 164px;
  top: -36px;
  z-index: -1;
  margin: 612px 372px 744px 84px;
  color: #E2E9F0;
}

.rectangle {
  height: 84px;
  margin-top: 144px;
  position: relative;
  margin: 0 auto;
}

.rectangle img[src="./assets/Ellipse 1.svg"] {
  position: absolute;
  top: 9px;
  left: 64px;
  margin: 20px 256px 24px 228px;
  border-radius: 956px;

  /* background: linear-gradient(180deg, rgba(226, 233, 240, 0.70) 10.68%, rgba(220, 228, 235, 0.70) 44.01%, rgba(226, 233, 240, 0.00) 100%); */
  /* box-shadow: 0px 4px 4px 0px rgba(18, 36, 89, 0.35); */

}


/* Desktop section*/
.desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F9FBFD;
  /* padding-left: 142px; */
  padding: 48px;
}
.col-1{
  color: #141414;
    font-size: 2.5rem;
    font-family: var(--bold--);
    line-height: 48px;

}
.col-1 span {
  color: #005AE2;
}

.col-2 {
  font-size: 2rem;
  font-family:var(--medium--);
  margin-left: 120px;
  color: #141414;
}
.col-3,.col-4, .col-5{
  margin-left: 72px;
  font-size: 2rem;
  font-family: var(--medium--);
  color: #141414
}

.col-2 strong, .col-3 strong, .col-4 strong, .col-5 strong {
  font-size: 1rem;
  font-family: var(--regular--);
  color: #141414;
}
/* .col-3 strong,.col-4 strong{
  padding: ;
} */

.desktop-container{
  display: grid;
  grid-template-columns: 340px 340px;
 grid-template-rows: 340px 340px;
 margin: 128px 120px 130px;
 margin-left: 600px;
 margin-top: -240px;
}

.desktop-container p{
  margin-bottom: 64px;
}
.choose-scissors {
  width: 386px;
  margin-left: 114px;
  margin-top: 128px;
}
.choose-scissors h3{
  width: 430px;
  color: #141414;
    font-size: 2.5rem;
    font-family: var(--bold--);
    line-height: 32px;
    margin-bottom: 16px
}
.choose-scissors img{
height: 48px;
position: absolute;
left: 106px;
margin-bottom: 12px;
}
.choose-scissors span{
  color: #005AE2;
}
.choose-scissors p{
    font-family: var(--medium--);
    line-height: 28px;
}
.url-shortening,.custom-urls,.code,.data-analytics{

  margin-left: 96px;
  padding: 24px;
}
.url-shortening h3, .custom-urls h3,.code h3, .data-analytics h3{
  padding: 12px;
}
.url-shortening p, .custom-urls p, .code p, .data-analytics p{
  font-family: var(--medium--);
  line-height: 24px;

}
img[src="./assets/link-3.svg"], img[src="./assets/activity.svg"], img[src="./assets/grid.svg"], img[src="./assets/edit.svg"]{
  position: absolute;
  margin-left: -40px;
  margin-top: 18px;
}

/* Price section */
.price-container h3{
  margin:42px 432px 68px;
  width: 584px;
  color: #141414;
  text-align: center;
  font-size: 2.5rem;
  font-family: var(--bold--);
  line-height: 48px;
}
.price-container span{
  color: #005AE2;
}
.price-container h3 img{
  position: absolute;
  left: 430px;
}
.price-container p{
  margin: -42px 432px -68px;
  text-align: center;font-size: 16px;
    font-family: var(--medium--);
    line-height: 24px;
    color: #141414;
}
/* Basic container */

.wrapper{
  width: 1100px;
  padding: 72px 172px;
  position: relative;
  top: 168px;
  border: 1px solid#005AE2;
  border-radius: 12px;
  margin: 64px 179px;
}
#teams {
  position: relative;
  margin-top: -352px;
  margin-left: 380px;
}
.wrapper div{
  position: absolute;
  padding: 24px 98px 48px 84px;
  top: 50%;
  left: 50%;
  margin: auto;
  transform: translate(-50%, -50%);
}

.wrapper p:first-child{
/* text-align: center; */
font-size: 1.25rem;
font-family: var(--medium--);
line-height: 32px;
}
.wrapper h4,.professional-box h4{
  font-size: 2.5rem;
  font-family: var(--bold--);
  line-height: 48px;
}
.wrapper p{
  margin-bottom: 24px;
}

.professional-box{
  width: 410px;
  border-radius: 12px;
  background-color:  #1E3448;
  padding: 96px 106px 144px 60px;
  color: #FFF;
  position: absolute;
 top: 2270px;
 left: 560px;
 right: -550px;
}
.professional-box p{
  margin: 24px;
}
.custom-btn {
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
margin-top: 68px;
border: hidden;

}

.custom-btn p:first-child{
  width: fit-content;
  text-align: center;
  background-color: #fff;
  color: #0065FE;
  border: 1px solid;
  border-radius: 24px;
  padding: 12px 24px;
}
.box{
 background-color: #0065FE;
 padding: 12px 24px;
 border-radius: 100px;
 color: #fff;

}

/* Price Footer sections */
.faqs-container{
  /* background-color: #1E3448 99.99%, rgba(30, 52, 72, 0.00) 100%; */
}
.price-footer-wrapper{
  width: 486px;
  position: relative;
  margin: 84px 482px;
  border: 1px solid #3284FF;
  border-radius: 12px;
  padding: 84px 42px;
}
.price-footer-container{
  /* max-width: 400px;
  height: 100px; */
/* padding: 42px;
color: #3284FF; */
}
.price-footer-wrapper p:first-child{
  padding:  12px 24px;
  border: 1px solid #3284FF ;
  border-radius: 12px;
  color: #3284FF;
  margin-bottom: 24px;
  
}
.price-footer-box-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.price-footer-box-container p{
  border:1px solid;
  border-radius: 12px;
  color:#3284FF ;
  margin: 12px;
}
.price-footer-box-container p:first-child{
  margin-right: 12px;
}
#price-footer-alias{
  border-radius: 12px;
  padding: 8px 12px;
  color: #3284FF;
  margin-top: 6px;
  margin-bottom: 12px;

}
#magic-wand{
  background-color: #005AE2;
  color: #fff;
  text-align: center;
  font-family: var(--medium--);
}
.trim-url{
  color: #3284FF;
  font-family: var(--medium--);
}

/* FAQs section */
/* faqs header */
.faq-header{
  margin: 48px 664px 64px 680px;
  color: #141414;
  font-size: 2.5rem;
  font-family: var(--bold--);
  line-height: 32px;
}
.faq-header img{
  position: relative;
  top: 48px;
  left: -12px;
}
/*faqs main */
.faqs-main{
  margin: 64px 324px;
  
}
.faqs-main p{
  border-bottom: 1px solid #D6D6D6;
  padding: 24px;
  position: relative;

}
.faqs-main p:first-child{
  border-bottom: none;
  font-size: 1.25rem;
}
.faqs-box{
  font-size: 1.25rem;
}
img[src="./assets/plus.svg"], img[src="./assets/minus.svg"]{
  position: absolute;
  right: -12px;

}

/* footer section */
.footer-rev{
  margin: 159px 324px 104px; 
  text-align: center;
}
.footer-rev p{
  margin-top: 32px;
  padding: 12px 24px;
  border: 1px solid;
  border-radius: 24px;
  width: 200px;
  margin-left: 288px;
  background-color: #005AE2;
  color: #FFF;
}
.footer-scissor{
  display: flex;
  padding: 8px;
  gap: 8px;
  margin-bottom: 32px;
  margin-top: 96px;
  margin-left: 204px;
  position: relative;

}
.footer-scissor{
font-size: 24px;
font-family: var(--bold--);
font-style: normal;
font-weight: 400;
line-height: 32px;

}
.footer-scissor p{
position: absolute;
top: 3px;
left: 48px;
color:#001F3F;
}
/* .footer-scissor img{
  color: #001F3F;
} */
.socials{
  margin-left: 204px;
}
img[src="./assets/i.fi-social-twitter.svg"], img[src="./assets/svg.feather.svg"], img[src="./assets/i.fi-social-linkedin.svg"]{
  margin-right: 24px;
}

.footer-row{
  display: grid;
  grid-template-columns:132px 152px 162px 100px;
  grid-template-rows: 200px 200px;
  margin-left: 456px;
  margin-top: -108px;
  margin-right: 204px;
  margin-bottom: 82px;

}
.footer-row p{
  padding: 0 24px 0;
  margin-left: -24px;
  line-height: 24px;
  font-family: var(--medium--);


  
}
.footer-row h4{
margin-bottom: 24px;
}

.terms{
  display: flex;
  gap: 8px;
  margin-top: 24px;
  margin-left: 1030px;
  margin-bottom: 42px;
  padding: 0 12px;
  font-family: var(--medium--);
  font-size: 0.9rem;
}